*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";

}
.layout-1{
    height: 70px;
    background-color: #222222;
}
.header__top{
    display: flex;
    width: 1140px;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    height: 50px;
}
.header__top__left {
    display: flex;
    width: 623px;
    justify-content: space-between;
}
.header__top__left .item{
    display: flex;
    flex-direction: row;
}
.header__top__left .item i{
    width: 32px;
    height: 32px;
    border: 1px solid #0ca8c9;
    color: #0ca8c9;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 6.8px; 
    font-size: 14px;
    cursor: pointer;
}
.header__top__left .info{
    font-size: 12px;
    margin-left: 10px;
}
.header__top__left .item  p{
    color: #b0b0b0;
}
.header__top__left .item  a{
    color: #f0f0f0;
    cursor: pointer;
}
.header__top__right {
    display: flex;
    padding-top: 10px;
    color: #b0b0b0;
}
.header__top__right p{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    top: -2px;
}
.header__top__right i{
    font-size: 12px;
    line-height: 1.083;
    cursor: pointer;
}
.layout-2{
    height: 100px;
    box-sizing: border-box;
    padding-top: 30px;
}
.header__center{
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}
.header__center__right .search {
    position: relative;
    left: 50px;
    display: inline-block;
    height: 50px;
    /* top: 10px; */
}
.header__center__right .search input{
    height: 40px;
    width: 550px;
    outline: none;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding-left: 170px;
    border-radius: 30px;
    color: #8f8f8f;
    font-size: 12px;
}
.header__center__right .search select{
    position: relative;
    left: 145px;
    height: 30px;
    border: none;
    outline: none;
    color: #8f8f8f;
    width: 120px;
    font-size: 13px;
}
.header__center__right .search button i{
    color: white;
    box-sizing: border-box;
    padding-right: 5px;
    font-size: 18px;
}
.header__center__right .search button{
    background-color: white;
    border: none;
    outline: none;
    position: relative;
    right: 61px;
    width: 57px;
    height: 40px;
    background-color: #0ca8c9;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}
.header__center__right .search::after{
    content: " ";
    position: relative;
    display: inline-block;
    right: 465px;
    top: 5px;
    width: 1px;
    height: 20px;
    background-color: #e0e0e0;
}
.search__history{
    position: absolute;
    z-index: 3;
    width: 343px;
    left: 275px;
    background-color: white;
    /* margin-top: 2px; */
    display: none;
    box-shadow: 2px 3px 6px #888888
}
.search__history h3{
    padding-left: 10px;
    color: #8f8f8f;
}
.search__history ul li{
    line-height: 30px;
    padding-left: 30px;
    list-style: none;
    cursor: pointer;
    font-size: 12px;
}
.search__history ul li:hover{
    background-color: #c9c5c5;
    color: white;
}
.search .input__search:focus ~ .search__history{
    display: block;
}
.header__center__right .icon .lnr-cog{
    position: relative;
    z-index: 3;
}
.header__center__right .icon .setting{
    position: absolute;
    z-index: 2;
    width: 200px;
    left: -153px;
    top: 62px;
    /* margin-top: 28px; */
    background-color: white;
    border: 0.00000001px solid #0ca8c9;
    visibility: hidden;
}
.header__center__right .icon .setting.active{
    visibility: visible;
}
.header__center__right .icon .setting h3{
    text-align: center;
    display: block;
    margin-top: -20px;
}
.header__center__right .icon .setting::before{
    content: "";
    position: relative;
    top: -40px;
    width: 0;
    left: 175px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px solid #0ca8c9;
}
.header__center__right .icon >.setting ul li {
    list-style: none;
    line-height: 50px;
    padding-left: 20px;
}
.header__center__right .icon >.setting ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    color: #888888;
}
.header__center__right .icon >.setting ul li:hover {
    background-color: #8f8f8f;
    cursor: pointer;
}
.header__center__right .icon >.setting ul li:hover a{
    color: white;
}

.shopping-bag{
    position: relative;
}
.shopping-cart{
    position: absolute;
    z-index: 3;
    left: -242px;
    width: 340px;
    background-color: white;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    display: none;
    margin-top: 20px;
    border: 0.00000001px solid #0ca8c9;
}
.shopping-cart .cart__item{
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #8f8f8f;
    padding: 10px 0 10px 0;
}
.shopping-cart .cart__item:last-child{
    border-bottom: none;
}
.shopping-cart .cart__item img{
    width: 40px;
    height: 40px;
    margin-right: 30px;
}
.cart__item-title{
     color: black;
    font-size: 14px;
}
.shopping-cart .cart__item a{
    text-decoration: none;
}
.cart__item-price{
    color: #0ca8c9;
}
.shopping-cart .bottom{
    margin-top: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.shopping-cart .bottom a{
    line-height: 40px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    border:1px solid #8f8f8f;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #888888;
}
.shopping-cart .bottom .view{
    background-color: #0ca8c9 ;
    color: white;
}
.shopping-cart::before{
    content: "";
    position: relative;
    top: -40px;
    width: 0;
    left: 295px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px solid #0ca8c9;
}
.header__center__right .icon{
    position: relative;
    padding-top: 8px;
}
.header__center__right .icon  i{
    display: inline-block;
    margin-left: 20px;
    color: #0ca8c9;
    font-size: 26px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.header__center__right .icon  i:first-child{
    margin-left:0 ;
}
.header__center__right{
    display: flex;
}
.header__center__right .icon .fa-search{
        display: none;
    }
.header__center .shopping-bag img{
    width: 26px;
    height: 26px;
    position: relative;
}
.fa-times-circle{
    position: absolute;
    top: 25px;
    right: 20px;
}
.header__center .shopping-bag::after{
    content: "2";
    font-size: 10px;
    background-color: black;
    color: white;
    width: 16px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    margin-top: -39px;
    margin-left: 14px;
    display: block;
    box-sizing: border-box;
    padding-top: 1px;
    padding-right: 1px;
}
.fa-bars{
    font-size: 25px;
    color: #0ca8c9;
    cursor: pointer;
    visibility: hidden;
}

.layout-3{
    background-color: #0ca8c9;
    line-height: 50px;
}
.header__bottom{
    display: flex;
    margin: auto;
    width: 1140px;
    justify-content: space-between;
    text-transform: uppercase;
    color: #ffffff;
    height: 50px;
}
.header__bottom__left i{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.header__bottom__left a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.header__bottom__left .subnav{
    z-index: 4;
    position: relative;
    background-color: white;
    color: black;
    width: 200px;
    list-style: none;
    top: -.5px;
    display: none;
}
.header__bottom__left .subnav ul li a{
    color: black;
    text-decoration: none;
}
.header__bottom__left .subnav ul li:hover{
    background-color: #8f8f8f;
    color: white;
    cursor: pointer;
}
.header__bottom__left .subnav ul li:hover a{
    color: white;
}
.header__bottom__right ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 588px;
    justify-content: space-between;
    font-weight: bold;
}
.header__bottom__right ul li{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.slider{
    /* width: 100%; */
    height: 750px;  
    background-image: url('../images/slider-1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}
.slider__text{
    width: 1140px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    padding-top: 15%;
    font-size: 70px;
}
.slider__text h1{
    font-size: 70px;
    display: block;
    /* word-spacing: 2px; */
}
.slider__text p{
    font-family: "Poppins";
    color: #8f8f8f;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1.02;
}
.slider__text .shopnow{
    margin-top: 62px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.slider__text .shopnow::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: #0ca8c9;
    position: relative;
    display: block;
}
.slider__text .btn{
    top: 45%;
    position: absolute;
    
    /* transform: rotate(20deg); */
    
}

.slider__text .btn--prev i{
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -40px;
    left: 15px;
}
.slider__text .btn--prev{
    left: 20px;
    border-top: 60px solid white;
    border-left: -10px solid transparent;
    border-right: 10px solid transparent;
    width: 50px;
    cursor: pointer;
}

.slider__text .btn--next{
    right: 20px;
    border-bottom: 60px solid #0ca8c9;
    border-left: 10px solid transparent;
    border-right: -10px solid transparent;
    color: white;
    width: 50px;
    opacity: .7;
    cursor: pointer;

}
.slider__text .btn--next i{
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 18px;
}
.fact{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1140px;
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
}
.fact__item{
    display: flex;
    width: max-content;
    margin-right: 50px;
}
.fact__item:last-child{
    margin-right: 0;
}
.fact__item img{
    padding-right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.fact__item img:last-child{
    padding-right: 0px;
}
.fact__item span{
    /* display: block; */
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5px;
    text-transform: capitalize;
}
.fact__item p{
    font-size: 14px;
    color: #8f8f8f;
    line-height: 1.714;
}
.banner{
    width: 1140px;
    margin: auto;
    display: flex;
    /* height: 510px; */
    justify-content: space-between;
}
.banner__left{
    width: 654px;
    height: 510px;
    background: url('../images/img-3.png') top center / cover no-repeat ;
    /* display: flex; */
    text-transform: uppercase;
    background-color: #f0f0f0;
}
.banner__left .banner__left--layout-1{
    display: flex;
    width: 270px;
    margin: auto;
    margin-top: 50%;
}
.banner__left .time{
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: white;
    margin-right: 10px;
}
.banner__left .time:last-child{
    margin-right: 0px;
}
.banner__left .time span{
    font-size: 21px;
    color: #0ca8c9;
    line-height: 0.9;
    display: block;
    box-sizing: border-box;
    padding-top: 15px;
}
.banner__left .time p{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.banner__left .banner__left--layout-2{
    text-align: center;
}
.banner__left .banner__left--layout-2 h1{
    display: block;
    padding-top: 20px;
    font-size: 30px;
    line-height: 1.5em
}
.banner__left .banner__left--layout-2 p{
    color: #8f8f8f;
    text-transform: none;
}
.banner__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
}
.banner__right--item{
    /* margin-left: 30px; */
    width: 457px;
    height: 240px;
    background: url(../images/img-2.png) right 10% center no-repeat ;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 63px;
}
.banner__right--item h1{
    font-size: 60px;
    display: block;
    line-height: 1em;
    color: #0ca8c9;
}
.banner__right--item h2{
    text-transform: uppercase;
}
.banner__right--item p{
    /* text-transform: capitalize; */
    color: #8f8f8f;
}
.banner__right--item-2{
    background: url(../images/img-1.png) right 10% center no-repeat ;
    background-color: #f0f0f0;
}
.banner__right--item-2 h2{
    font-size: 30px;
    display: block;
    padding-top: 20px;
    line-height: 1.5em;
}
.content{
    padding-top: 60px;
    width: 1140px;
    margin: auto;
}
.content__title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 107.73px;
}
.content__title--left span{
    font-size: 90px;
    line-height: 1.2;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    letter-spacing:1px;
    font-weight: bold;
    display: block;
}
.content__title--left h2{
    position: relative;
    font-size: 43px;
    top: -80px;
    left: 5px;
    line-height: 1.2;
    font-weight: bold;
    display: inline-block;
}
.content__title--right{
    font-size: 32px;
    line-height: 110px;
    height: 100px;
}
.content__title--right a{
    margin-right: 30px;
    color: #8f8f8f;
    cursor: pointer;
    font-size: 32px;
    margin-top: 5px;
}
.content__title--right a:last-child{
    margin-right: 0;
    /* color: #0ca8c9; */
}
.content__title--right a:hover{
    /* margin-right: 0; */
    color: #0ca8c9;
}
.content__item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.content__item .item{
    height: 440px;
    width: 263px;
}
.content__item .img{
    width: 263px;
    height: 263px;
    background-color: #f5f5f5;
}
.content__item .item img{
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding-top: 40px;

}
.content__item .item .item-info{
    font-weight: bold;
    padding-top: 20px;
}
.content__item .item .item-info p{
    font-family: "Poppins";
     color: black;
     font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.571;
}
.content__item .item .item-info span{
    color: #0ca8c9;
    font-size: 13px;
    line-height: 4.5px;
    cursor: pointer;
}
.new{
    background-color: #f2f2f2;
    /* height: 660px; */
    padding-bottom: 80px;
    /* width: 1140px; */
    background: url('../images/new-backround.png') top center / cover no-repeat ;
}
.new__title{
    margin: auto;
    width: 1140px;
    text-align: center;
    padding-top: 90px;
    text-transform: uppercase;
    padding-bottom: 60px;
    height: 90px;
}
.new__title span{
    font-size: 90px;
    line-height: 0;
    color: rgb(235, 235, 235);
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing:8px;
}

.new__title  h2{
    display: block;
    position: relative;
    font-size: 43px;
    top: -80px;
    line-height: 1.2;
    line-height: 1.2;
    font-weight: bold;
}
.new__item {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}
.new__item .item .item--info{
    width: 340px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    /* height: max-content; */
}
.new__item .item span{
    color: #8f8f8f;
    padding-right: 5px;
    font-size: 16px;
    /* font-family: "Myriad Pro"; */
    /* font-weight: bold; */
}
.new__item .item p{
    padding-top: 10px;
    line-height: 1.5;
    color: #0ca8c9; 
    display: inline-block;
}
.letter{
    height: 400px;
    background-color: #212121;
}
.letter__item{
    padding-top: 100px;
    width: 1140px;
    margin: auto;
    text-align: center;
}
.letter__item h2{
    font-size: 32px;
    line-height: 1.2;
    color: white;
}
.letter__item p{
    padding-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2.143;
    padding-bottom: 55px;
}
.letter__item input{
    width: 775px;
    height: 70px;
    position: relative;
    border-radius: 6em;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 14px;
}
.letter__item button{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.875;
    width: 165px;
    height: 60px;
    position: relative;
    background-color: #0ca8c9;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    top: -65px;
    left: 786px;
}
.brand{
    display: block;
    padding-top: 65px;
    width: 1140px;
    margin: auto;  
    padding-bottom: 60px;
}
.brand ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: #f2f2f2;
}
.footer__content{
    height: 256px;
    padding-top: 60px;
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}
.footer__content .item h2{
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: bold;
}
.footer__content .item ul li {
    list-style: none;
    color: #8f8f8f;
    font-size: 13px;
    line-height: 1.308;
    padding-bottom: 15px;
    display: flex;
    /* width: 310px; */
}
.footer__content .item ul li i{
    margin-right: 20px;
    cursor: pointer;
    line-height: 1.308;
    font-size: 16px;
}
.footer__content .item ul .icon a{
    margin-right: 20px;
    cursor: pointer;
    line-height: 1.308;
    font-size: 16px;
}
.footer__content .item ul li i:hover{
    color: #0ca8c9;
    /* transform: scale(1.2);  */
}
.footer__content .item ul li a {
    display: inline-block;
    color: #8f8f8f;
    cursor: pointer;
}
.footer__content .item ul li a:hover{
    color: #0ca8c9;
    cursor: pointer;
    /* transform: scale(1.05); */
}
.footer__content .item ul .icon{
    padding-top: 10px;
}
.footer__content .item-1{
    width: 263px;
}
.footer__content .item-2{
    box-sizing: border-box;
    width: 120px;
}
.footer__bottom{
    background-color: white;
    height: 70px;
}
.footer__bottom .item{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer__bottom .item--left a{
    color: #8f8f8f;
    display: inline-block;
    font-size: 12px;
    padding-top: 25px;
}
.footer__bottom .item--right img{
    box-sizing: border-box;
    padding-top: 20px;
}
