*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";

}
.layout-1{
    height: 70px;
    background-color: #222222;
}
.header__top{
    display: flex;
    width: 1140px;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    height: 50px;
}
.header__top__left {
    display: flex;
    width: 623px;
    justify-content: space-between;
}
.header__top__left .item{
    display: flex;
    flex-direction: row;
}
.header__top__left .item i{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #0ca8c9;
    color: #0ca8c9;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px; 
}
.header__top__left .info{
    font-size: 12px;
}
.header__top__left .item  p{
    color: #b0b0b0;
}
.header__top__left .item  a{
    color: #f0f0f0;
}
.header__top__right {
    display: flex;
    padding-top: 8px;
    color: #b0b0b0;
}
.header__top__right p{
    font-size: 12px;
    color: #b0b0b0;
    padding-left: 5px;
    padding-right: 30px;
}
.header__center{
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
}
.header__center__right .search {
    position: relative;
    left: 50px;
    display: inline-block;
    height: 50px;
    top: -10px;
}
.header__center__right .search input{
    height: 40px;
    width: 550px;
    outline: none;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding-left: 170px;
    border-radius: 30px;
    color: #8f8f8f;
}
.header__center__right .search select{
    position: relative;
    left: 150px;
    height: 30px;
    border: none;
    outline: none;
    color: #8f8f8f;
    width: 120px;
}
.header__center__right .search button i{
    color: white;
    box-sizing: border-box;
    padding-right: 10px;
    font-size: 20px;
    padding-top: 5px;
}
.header__center__right .search button{
    background-color: white;
    border: none;
    outline: none;
    position: relative;
    right: 65px;
    top: 4px;
    width: 60px;
    height: 40px;
    background-color: #0ca8c9;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}
.header__center__right .search::after{
    content: " ";
    position: relative;
    display: inline-block;
    right: 465px;
    top: 5px;
    width: 1px;
    height: 20px;
    background-color: #e0e0e0;
}
.header__center__right .icon{
    position: relative;
    padding-top: px;
}
.header__center__right .icon  i{
    display: inline-block;
    margin-left: 20px;
    color: #0ca8c9;
    font-size: 26px;
    cursor: pointer;
}
.header__center__right .icon  i:first-child{
    margin-left:0 ;
}
.header__center__right{
    display: flex;
}
.header__center__right .icon .fa-search{
        display: none;
    }
.header__center .fa-shopping-bag::after{
    content: "2";
    font-size: 10px;
    background-color: black;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    margin-top: -28px;
    margin-left: 12px;
    display: block;
    box-sizing: border-box;
    padding-top: 2px;
}
.layout-3{
    background-color: #0ca8c9;
    line-height: 50px;
    margin-top: 2   0px;
}
.header__bottom{
    display: flex;
    margin: auto;
    width: 1140px;
    justify-content: space-between;
    text-transform: uppercase;
    color: #ffffff;
}
.header__bottom__left i{
    font-size: 20px;
    cursor: pointer;
}
.header__bottom__left a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
}
.header__bottom__right ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 588px;
    justify-content: space-between;
    font-weight: bold;
}
.header__bottom__right ul li{
    cursor: pointer;
}
.slider{
    /* width: 100%; */
    height: 750px;  
    background: url('../images/slider-1.jpg') right center / cover no-repeat ;
    position: relative;
}
.slider__text{
    width: 1140px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    padding-top: 15%;
}
.slider__text h1{
    font-size: 70px;
    display: block;
}
.slider__text p{
    font-family: "Poppins";
    color: #b0b0b0;
}
.slider__text .shopnow{
    padding-top: 62px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.slider__text .shopnow::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: #0ca8c9;
    position: absolute;
    display: block;
}
.slider__text .btn{
    top: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    /* transform: rotate(20deg); */
}
.slider__text .btn i{
    font-size: 25px;
    display: block;
    text-align: center;
    padding-top: 18px;
    cursor: pointer;
}
.slider__text .btn--prev{
    left: 20px;
    opacity: .7;
    background-color: white;
}
.slider__text .btn--next{
    right: 20px;
    background-color: #0ca8c9;
    color: white;
    opacity: .7;
}
.fact{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1140px;
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
}
.fact__item{
    display: flex;
    width: 290px;
}
.fact__item img{
    padding-right: 20px;
}
.fact__item img:last-child{
    padding-right: 0px;
}
.fact__item span{
    /* display: block; */
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5px;
    text-transform: capitalize;
}
.fact__item p{
    font-size: 14px;
    color: #8f8f8f;
    line-height: 1.714;
}
.banner{
    width: 1140px;
    margin: auto;
    display: flex;
    /* height: 510px; */
    justify-content: space-between;
}
.banner__left{
    width: 654px;
    /* height: 510px; */
    background: url('../images/img-3.png') top center / cover no-repeat ;
    /* display: flex; */
    text-transform: uppercase;
    background-color: #f0f0f0;
}
.banner__left .banner__left--layout-1{
    display: flex;
    width: 270px;
    margin: auto;
    margin-top: 55%;
}
.banner__left .time{
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: white;
    margin-right: 10px;
}
.banner__left .time:last-child{
    margin-right: 0px;
}
.banner__left .time span{
    font-size: 21px;
    color: #0ca8c9;
    display: block;
    box-sizing: border-box;
    padding-top: 7px;
}
.banner__left .time p{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.banner__left .banner__left--layout-2{
    text-align: center;
}
.banner__left .banner__left--layout-2 h1{
    display: block;
    padding-top: 30px;
    font-size: 30px;
    line-height: 1.5em
}
.banner__left .banner__left--layout-2 p{
    color: #8f8f8f;
}
.banner__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
}
.banner__right--item{
    /* margin-left: 30px; */
    width: 457px;
    height: 240px;
    background: url(../images/img-2.png) right 10% center no-repeat ;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 66px;
}
.banner__right--item h1{
    font-size: 60px;
    display: block;
    line-height: 1em;
    color: #0ca8c9;
}
.banner__right--item h2{
    text-transform: uppercase;
}
.banner__right--item p{
    text-transform: capitalize;
    color: #8f8f8f;
}
.banner__right--item-2{
    background: url(../images/img-1.png) right 10% center no-repeat ;
    background-color: #f0f0f0;
}
.banner__right--item-2 h2{
    font-size: 30px;
    display: block;
    padding-top: 30px;
    line-height: 1em;
}
.content{
    padding-top: 60px;
    width: 1140px;
    margin: auto;
}
.content__title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 107.73px;
}
.content__title--left h1{
    font-size: 90px;
    line-height: 1.2;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    letter-spacing:3px;

}
.content__title--left h2{
    position: relative;
    font-size: 43px;
    top: -77px;
    line-height: 1.2;
    font-weight: bold;
    display: inline-block;
}
.content__title--right{
    font-size: 32px;
    line-height: 100px;
}
.content__title--right i{
    margin-right: 30px;
    color: #8f8f8f;
}
.content__title--right i:last-child{
    margin-right: 0;
    color: #0ca8c9;
}
.content__item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.content__item .item{
    height: 440px;
    width: 263px;
}
.content__item .img{
    width: 263px;
    height: 263px;
    background-color: #f5f5f5;
}
.content__item .item img{
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding-top: 40px;

}
.content__item .item .item-info{
    font-weight: bold;
    padding-top: 20px;
}
.content__item .item .item-info p{
    font-family: "Poppins";
     color: black;
     font-weight: bold;
    text-transform: capitalize;
}
.content__item .item .item-info span{
    color: #0ca8c9;
    font-size: 13px;
    line-height: 4.5px;
    
}
.new{
    background-color: #f2f2f2;
    /* height: 660px; */
}
.new__title{
    margin: auto;
    width: 1140px;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    padding-bottom: 60px;
    height: 90px;
}
.new__title h1{
    font-size: 90px;
    line-height: 1.2;
    color: rgb(235, 235, 235);
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing:8px;
}

.new__title  h2{
    display: block;
    position: relative;
    font-size: 43px;
    top: -77px;
    line-height: 1.2;
    line-height: 1.2;
    font-weight: bold;
}
.new__item {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}
.new__item .item p{
    width: 340px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 10px;
}
.new__item .item span{
    color: #8f8f8f;
    padding-right: 5px;
}
.new__item .item a{
    padding-top: 10px;
    line-height: 1.5;
   color: #0ca8c9; 
   text-decoration: none;
}
.letter{
    height: 400px;
    background-color: #212121;
}
.letter__item{
    padding-top: 80px;
    width: 1140px;
    margin: auto;
    text-align: center;
}
.letter__item h1{
    font-size: 32px;
    line-height: 0.813;
    color: white;
}
.letter__item p{
    padding-top: 25px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2.143;
    padding-bottom: 65px;
}
.letter__item input{
    width: 775px;
    height: 70px;
    position: relative;
    border-radius: 6em;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 16px;
}
.letter__item button{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.875;
    width: 165px;
    height: 60px;
    position: relative;
    background-color: #0ca8c9;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    top: -65px;
    left: 786px;
}
.brand{
    display: block;
    padding-top: 65px;
    width: 1140px;
    margin: auto;  
    padding-bottom: 60px;
}
.brand ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: #f2f2f2;
}
.footer__content{
    height: 256px;
    padding-top: 60px;
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}
.footer__content .item h1{
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.footer__content .item ul li {
    list-style: none;
    color: #8f8f8f;
    font-size: 13px;
    line-height: 2.308;
    display: flex;
    /* width: 310px; */
}
.footer__content .item ul li i{
    margin-right: 20px;
    cursor: pointer;
    line-height: 2.308;
}
.footer__content .item ul li i:hover{
    color: #0ca8c9;
    transform: scale(1.2); 
}
.footer__content .item ul li p {
    display: inline-block;
    color: #8f8f8f;
}
.footer__content .item ul li p:hover{
    color: #0ca8c9;
    cursor: pointer;
    transform: scale(1.05);
}
.footer__content .item ul .icon{
    padding-top: 10px;
}
.footer__content .item-1{
    width: 263px;
}
.footer__content .item-2{
    box-sizing: border-box;
    width: 120px;
}
.footer__bottom{
    background-color: white;
    height: 70px;
}
.footer__bottom .item{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer__bottom .item--left p{
    color: #8f8f8f;
    font-size: 12px;
    padding-top: 25px;
}
.footer__bottom .item--right img{
    box-sizing: border-box;
    padding-top: 20px;
}
@media (min-width : 1226px) and (max-width:1511px){
   
}
@media (min-width : 1024px) and (max-width:1200px){
    /* header{
        width: 1024px;
    } */
    .header__top{
        width: 80%;
        box-sizing: border-box;
        margin:  auto;
    }
    .header__center{
         width: 80%;
        box-sizing: border-box;
        margin:  auto;
        padding-top: 30px;
    }
    .header__center__left img{
        width: 80%;
    }
    .header__center__right .search{
        top: -40px;
    }
    .header__center__right .search input{
        width: 80%;
        display: inline-block;
        position: relative;
    }
    .header__center__right .search::after{
        content: " ";
        position: relative;
        display: inline-block;
        right: 350px;
        top: 5px;
        width: 1px;
        height: 20px;
        background-color: #e0e0e0;
    }
    .header__center__right .search select{
        position: relative;
        z-index: 2;
        top: 40px;
        left: 17px;
    }
    .header__bottom{
        width: 80%;
        box-sizing: border-box;
        margin:  auto;
    }
    .slider{
        height: 80%;
    }
    .slider__text{
        width: 80%;
        height: 600px;
    }
    .fact{
        width: 80%;
    }
    .fact__item .item--info p{
        display: none;
    }
    .fact__item .item--info span{
        display: block;
        padding-top: 20px;
    }
    .banner{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    .banner__left{
        width: 520px;
    }
    .banner__right--item{
        margin-left: 10px;
        margin-top: 10px;
        width: 350px;
        height: 210px;
    }
    .banner__right--item:first-child{
        margin-top: 0px;
    }
    .content{
        width: 80%;
    }
    .content__item .item{
        width: 190px;
        height: 350px;
        display: block;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 190px;
        height: 190px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 180px; 
    }
    .new__item{
        width: 80%;
        margin: auto;
    }
    .new__title{
        width: 80%;
    }
    .new__item .item{
        width: 260px;
        height: 80%;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 240px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 1024px;
    }
    .letter__item button{
        left: 729px;
    }
    .brand{
        width: 80%;
    }
    .brand ul li img{
        width: 165px;
        height: 95px;
    }
    .footer .footer__content{
        width: 80%;
    }
    .footer .footer__bottom .item{
        width: 80%;
    }
}
@media  (min-width : 767px) and (max-width:1024px){

    .header__top{
        width: 730px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .header__bottom{
        width: 730px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 430px;
        margin: auto;
        position: relative;
        left: 140px;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        
    }
    .header__bottom__left i{
        color: #0ca8c9;
        
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
   .slider{
        height: 100%;
    }
    .slider__text{
        width: 730px;
        height: 500px;
    }
    .slider__text h1{
        font-size: 40px;
    }
    .fact{
        width: 600px;
        justify-content: space-between;
    }
    .fact__item{
        width: 50px;
    }
    .fact__item .item--info {
        display: none;
    }
    .banner{
        width: 80%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
    }
    .banner__right{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
    }
    .content{
        width: 650px;
    }
    .content__item .item{
        width: 300px;
        height: 430px;
        display: block;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 300px;
        height: 300px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 230px; 
    }
    .new__item{
        width: 730px;
        margin: auto;
    }
    .new__title{
        width: 730px;
    }
    .new__item .item{
        width: 235px;
        height: 80%;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 220px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 730px;
    }
    .letter__item input{
        width: 500px;
    }
    .letter__item button{
        left: 445px;
    }
    .brand{
        width: 730px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 120px;
        height: 70px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 80%;
    }
}
@media (min-width:576px) and (max-width:768px){
    .header__top{
        width: 560px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .header__bottom{
        width: 560px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 340px;
        margin: auto;
        position: relative;
        left: 100px;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        
    }
    .header__bottom__left i{
        color: #0ca8c9;
        
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
   .slider{
        height: 100%;
    }
    .slider__text{
        width: 560px;
        height: 300px;
    }
    .slider__text .shopnow{
        padding-top: 0px;
    }
    .slider__text h1{
        font-size: 40px;
    }
    .fact{
        width: 460px;
        justify-content: space-between;
    }
    .fact__item{
        width: 50px;
    }
    .fact__item .item--info {
        display: none;
    }
    .banner{
        width: 80%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
    }
    .banner__right{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
    }
    .content{
        width: 560px;
    }
    .content__title--left h1{
        font-size: 50px;
    }
    .content__title--left h2{
        font-size: 30px;
        top: -45px;
    }
    .content__title--right {
        font-size: 20px;
    }
    .content__item .item{
        width: 400px;
        height: 430px;
        display: block;
        margin: auto;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 400px;
        height: 330px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 230px; 
    }
    .new__item{
        width: 560px;
        margin: auto;
        flex-direction: column;

    }
    .new__title{
        width: 560px;
    }
    .new__item .item{
        width: 500px;
        height: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 500px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 560px;
    }
    .letter__item input{
        width: 500px;
    }
    .letter__item button{
        left: 359px;
    }
    .brand{
        width: 560px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 100px;
        height: 60px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 560px;
    }
    .item--right img{
        width: 200px;
    }
}
@media (min-width:375px) and (max-width:576px){
    .header__top{
        width: 360px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .header__bottom{
        width: 360px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 250px;
        margin: auto;
        position: relative;
        left: 40px;
    }
    .header__center__right .icon .fa-cog{
        display: none;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        display: none;
    }
    .header__bottom__left i{
        color: #0ca8c9;  
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
   .slider{
        height: 100%;
    }
    .slider__text{
        width: 360px;
        height: 300px;
    }
    .slider__text .shopnow{
        padding-top: 0px;
    }
    .slider__text h1{
        font-size: 40px;
    }
    .fact{
        width: 320px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .fact__item{
        height: 80px;
        width: 150px;
    }
    .fact__item .item--info p{
        display: none;
    }
    .banner{
        width: 80%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
    }
    .banner__right{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
    }
    .content{
        width: 360px;
    }
    .content__title--left h1{
        font-size: 50px;
    }
    .content__title--left h2{
        font-size: 30px;
        top: -45px;
    }
    .content__title--right {
        font-size: 20px;
        line-height: 0px;
        display: none;
    }
    .content__item .item{
        width: 341.11px;
        height: 430px;
        display: block;
        margin: auto;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 341.11px;
        height: 330px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 230px; 
    }
    .new__item{
        width: 360px;
        margin: auto;
        flex-direction: column;

    }
    .new__title h1{
        font-size: 65px;
    }
    .new__title h2{
        font-size: 35px;
        top: -60px;
    }
    .new__title{
        width: 360px;
    }
    .new__item .item{
        width: 341.11px;
        height: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 320px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 360px;
    }
    .letter__item h1{
        line-height: 1.3;
    }
    .letter__item input{
        width: 300px;
    }
    .letter__item button{
        left: 200px;
        width: 65px;
        height: 42px;
        font-size: 14px;
        left: 262px;
        top: -57px;
    }
    .brand{
        width: 360px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 60px;
        height: 30px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 360px;
        flex-direction: column-reverse;
        
    }
    .footer__bottom .item--right{
        margin: auto;
    }.footer__bottom .item--left{
        margin: auto;
    }
    .item--right img{
        width: 300px;
        text-align: center;
    }
}
