@media (min-width : 1226px) and (max-width:1511px){
   
}
@media (min-width : 1024px) and (max-width:1200px){
    /* header{
        width: 1024px;
    } */
    .header__top{
        width: 80%;
        box-sizing: border-box;
        margin:  auto;
    }
    .header__center{
         width: 80%;
        box-sizing: border-box;
        margin:  auto;
    }
    .header__center__left img{
        width: 80%;
    }
    .header__center__right .search{
        top: -30px;
    }
    .header__center__right .search input{
        width: 80%;
        display: inline-block;
        position: relative;
    }
    .header__center__right .search::after{
        content: " ";
        position: relative;
        display: inline-block;
        right: 350px;
        top: 5px;
        width: 1px;
        height: 20px;
        background-color: #e0e0e0;
    }
    .header__center__right .search select{
        position: relative;
        z-index: 2;
        top: 40px;
        left: 17px;
    }
    .header__bottom{
        width: 80%;
        box-sizing: border-box;
        margin:  auto;
    }
    .slider{
        height: 80%;
    }
    .slider__text{
        width: 80%;
        height: 600px;
    }
    .fact{
        width: 80%;
    }
    .fact__item .item--info p{
        display: none;
    }
    .fact__item .item--info span{
        display: block;
        padding-top: 20px;
    }
    .banner{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    .banner__left{
        width: 80%;
        height: 580px;
    }
    .banner__left .banner__left--layout-1{
        margin-top: 400px;
    }
    .banner__right--item{
        margin-left: 20px;
        margin-top: 10px;
        width: 350px;
        height: 280px;
    }
    .banner__right--item:first-child{
        margin-top: 0px;
    }
    .content{
        width: 80%;
    }
    .content__item .item{
        width: 190px;
        height: 350px;
        display: block;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 190px;
        height: 190px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 180px; 
    }
    .new__item{
        width: 80%;
        margin: auto;
    }
    .new__title{
        width: 80%;
    }
    .new__item .item{
        width: 260px;
        height: 80%;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 240px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 1024px;
    }
    .letter__item button{
        left: 729px;
    }
    .brand{
        width: 80%;
    }
    .brand ul li img{
        width: 165px;
        height: 95px;
    }
    .footer .footer__content{
        width: 80%;
    }
    .footer .footer__bottom .item{
        width: 80%;
    }
}
@media  (min-width : 767px) and (max-width:1024px){

    .header__top{
        width: 730px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    .layout-2{
        height: 0;
    }
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .header__bottom{
        width: 730px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 430px;
        margin: auto;
        position: relative;
        left: 140px;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        
    }
    .header__bottom__left i{
        color: #0ca8c9;
        
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
    
   .slider{
        height: 100%;
        height: 500px;
    }
    .slider__text{
        width: 730px;
        height: 100%;
    }
    .slider__text h1{
        font-size: 40px;
    }
    .fact{
        width: 600px;
        justify-content: space-between;
    }
    .fact__item{
        width: 50px;
    }
    .fact__item .item--info {
        display: none;
    }
    .banner{
        width: 80%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
    }
    .banner__left .banner__left--layout-1{
        margin-top: 320px;
    }
    .banner__right{
        /* margin-top: 20px; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
       padding-left: 0px;
    }
    .content{
        width: 650px;
    }
    .content__item .item{
        width: 300px;
        height: 430px;
        display: block;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 300px;
        height: 300px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 230px; 
    }
    .new__item{
        width: 730px;
        margin: auto;
    }
    .new__title{
        width: 730px;
    }
    .new__item .item{
        width: 235px;
        height: 80%;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 220px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 730px;
    }
    .letter__item input{
        width: 500px;
    }
    .letter__item button{
        left: 445px;
    }
    .brand{
        width: 730px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 120px;
        height: 70px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 80%;
    }
}
@media (min-width:576px) and (max-width:768px){
    .header__top{
        width: 560px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .header__bottom{
        width: 560px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 340px;
        margin: auto;
        position: relative;
        left: 100px;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        
    }
    .header__bottom__left i{
        color: #0ca8c9;
        
    }
    .layout-2{
        height: 0;
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
   .slider{
        height: 100%;
    }
    .slider__text{
        width: 560px;
        height: 300px;
        padding-top: 30px;
    }
    .slider__text .shopnow{
        margin-top: 10;
    }
    .slider__text h1{
        font-size: 40px;
    }
   
    .fact{
        width: 460px;
        justify-content: space-between;
    }
    .fact__item{
        width: 50px;
    }
    .fact__item .item--info {
        display: none;
    }
    .banner{
        width: 80%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
    }
    .banner__left .banner__left--layout-1{
        margin-top: 320px;
    }
    .banner__right{
        /* margin-top: 20px; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
       padding-left: 0;
    }
    .content{
        width: 560px;
    }
    .content__title--left h1{
        font-size: 50px;
    }
    .content__title--left h2{
        font-size: 30px;
        top: -45px;
    }
    .content__title--right {
        font-size: 20px;
    }
    .content__item .item{
        width: 400px;
        height: 430px;
        display: block;
        margin: auto;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 400px;
        height: 330px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 230px; 
    }
    .new__item{
        width: 560px;
        margin: auto;
        flex-direction: column;

    }
    .new__title{
        width: 560px;
    }
    .new__item .item{
        width: 500px;
        height: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 500px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter__item{
        width: 560px;
    }
    .letter__item input{
        width: 500px;
    }
    .letter__item button{
        left: 359px;
    }
    .brand{
        width: 560px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 100px;
        height: 60px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 560px;
    }
    .item--right img{
        width: 200px;
    }
}

@media (min-width:375px) and (max-width:576px){
    .header__top{
        width: 340px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .layout-2{
        height: 0;
    }
    .header__bottom{
        width: 320px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 180px;
        margin: auto;
        position: relative;
        left: 0px;
    }
    .header__center__right .icon .fa-cog{
        display: none;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        display: none;
    }
    .header__bottom__left i{
        color: #0ca8c9;  
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
   .slider{
        height: 100%;
    }
    .slider__text{
        width: 320px;
        height: 300px;
    }
    .slider__text .shopnow{
        padding-top: 0px;
    }
    .slider__text h1{
        font-size: 20px;
    }
    .slider__text p{
        font-size: 12px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
     .slider__text .btn{
        display: none;
    }
    .fact{
        width: 320px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .fact__item{
        height: 80px;
        width: 150px;
        margin-right: 0;
    }
    .fact__item .item--info p{
        display: none;
    }
    .banner{
        width: 90%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
        height: 400px;
    }
    .banner__left .banner__left--layout-1{
        margin-top: 220px;
    }
    .banner__right{
        /* margin-top: 20px; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
       padding-left: 0;
    }
    .content{
        width: 340px;
    }
    .content__title--left h1{
        font-size: 50px;
    }
    .content__title--left h2{
        font-size: 30px;
        top: -45px;
    }
    .content__title--right {
        font-size: 20px;
        line-height: 0px;
        display: none;
    }
    .content__item .item{
        width: 318.594px;
        height: 430px;
        display: block;
        margin: auto;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 318.594px;
        height: 300px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 250px; 
    }
    .new__item{
        width: 360px;
        margin: auto;
        flex-direction: column;

    }
    .new__title h1{
        font-size: 65px;
    }
    .new__title h2{
        font-size: 35px;
        top: -60px;
    }
    .new__title{
        width: 360px;
    }
    .new__item .item{
         width: 318.594px;
        height: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 320px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter{
        height: 500px;
    }
    .letter__item{
        width: 320px;
    }
    .letter__item h1{
        line-height: 1.4;
        font-size: 28px;
    }
    .letter__item p{
        line-height: 1.4;
    }
    .letter__item input{
        width: 320px;
    }
    .letter__item button{
        left: 200px;
        display: block;
        font-size: 14px;
        left: 82px;
        top: 30px;
    }
    .brand{
        width: 330px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 60px;
        height: 30px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 360px;
        flex-direction: column-reverse;
        
    }
    .footer__bottom .item--right{
        margin: auto;
    }.footer__bottom .item--left{
        margin: auto;
    }
    .item--right img{
        width: 300px;
        text-align: center;
    }
}
@media  (max-width:375px){
    .header__top{
        width: 280px;
        margin: auto;
    }
    .header__top__left{
        width: 120px;
    }
    .header__top__left .item .info{
        display: none;
    }
    .layout-3{
        background-color: white;
    }
    .layout-2{
        height: 0;
    }
    .header__bottom{
        width: 280px;
        margin: auto;
    }
    .header__center{
        height: 0;
        width: 220px;
        margin: auto;
        position: relative;
        left: 0px;
    }
    .header__center__right .icon .fa-cog{
        display: none;
    }
    .header__center__right .icon, .layout-2{
        padding-top: 10px;
    }
    .header__bottom__left a {
        color: #0ca8c9;
        display: none;
    }
    .header__bottom__left i{
        color: #0ca8c9;  
    }
    .header__bottom__right{
        display: none;
    }
    .header__center .search {
        display: none;
    }
    .header__center__right .icon .fa-search{
        display: block;
    }
   .slider{
        height: 100%;
    }
    .slider__text{
         width: 280px;
        height: 200px;
    }
    .slider__text .shopnow{
        margin-top: 0px;
    }
    .slider__text h1{
        font-size: 20px;
    }
    .slider__text p{
        font-size: 12px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
     .slider__text .btn{
        display: none;
    }
    .fact{
        width: 280px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .fact__item{
        height: 80px;
        width: 120px;
        margin-right: 0;
    }
    .fact__item .item--info p{
        display: none;
    }
    .banner{
        width: 90%;
        display: flex;
        text-align: center;
        /* margin: auto; */
        flex-direction: column;
        justify-content: space-between;
    }
    .banner__left{
        width: 100%;
        margin: auto;
        height: 350px;
    }
    .banner__left .banner__left--layout-2 h1{
        font-size: 24px;
    }
    .banner__left .banner__left--layout-1{
        margin-top: 190px;
    }
    .banner__right{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .banner__right--item{
       margin-top: 20px;
       width: 100%;
       height: 250px;
       padding-left: 0;
    }
    .content{
        width: 280px;
    }
    .content__title--left h1{
        font-size: 50px;
    }
    .content__title--left h2{
        font-size: 30px;
        top: -45px;
    }
    .content__title--right {
        font-size: 20px;
        line-height: 0px;
        display: none;
    }
    .content__item .item{
        width: 269px;
        height: 400px;
        display: block;
        margin: auto;
        /* padding-right: 10px; */
    }
    /* .content__item .item:last-child{
        padding-right: 0;
    } */
    .content__item .item .img{
        width: 269px;
        height: 300px;
    }
    .content__item .item .img img{
        /* width: 180px;*/
        height: 250px; 
    }
    .new__item{
        width: 280px;
        margin: auto;
        flex-direction: column;

    }
    .new__title h1{
        font-size: 50px;
    }
    .new__title h2{
        font-size: 30px;
        top: -50px;
    }
    .new__title{
        width: 280px;
    }
    .new__item .item{
         width: 269px;
        height: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .new__item .item img{
        width: 100%;
        height: 100%;
    }
    .new__item .item  p{
        width: 250px;
        font-size: 13px;
    }.new__item .item  span{
        width: 240px;
        font-size: 13px;
    }
    .letter{
        height: 500px;
    }
    .letter__item{
        width: 280px;
    }
    .letter__item h1{
        line-height: 1.4;
        font-size: 22px;
    }
    .letter__item p{
        line-height: 1.4;
    }
    .letter__item input{
        width: 280px;
    }
    .letter__item button{
        left: 200px;
        display: block;
        font-size: 14px;
        left: 64px;
        top: 30px;
    }
    .brand{
        width: 280px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .brand ul li img{
        width: 40px;
        height: 20px;
    }
    .footer .footer__content{
        display: none;
    }
    .footer .footer__bottom .item{
        width: 280px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer__bottom .item--right{
        margin: auto;
    }.footer__bottom .item--left{
        margin: auto;
    }
    .item--right img{
        width: 280px;
        text-align: center;
    }
}
